<ion-header>
  <ion-toolbar>
    <ion-title>Available Tours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="getLocation()" expand="block">
    Get & Save Location
  </ion-button>

  <ion-card *ngIf="location">
    <ion-card-header>
      <ion-card-title>Your Location</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Latitude: {{ location.lat }}</p>
      <p>Longitude: {{ location.lng }}</p>
      <p>Loaded from storage</p>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/favorites" expand="block">
    Go to Favorites
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Book a Tour</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input [(ngModel)]="booking.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="booking.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tour ID</ion-label>
        <ion-input [(ngModel)]="booking.tourId" name="tourId"></ion-input>
      </ion-item>

      <ion-button (click)="submitForm()" expand="block">
        Book Now
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let tour of tours" [routerLink]="['/tour-details', tour.id]">
      <ion-label>
        <h2>Tour #{{ tour.id }}</h2>
        <p>{{ tour.title }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>